body
{
	background-image: url(image.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1
{
	background-color: white;
}

p
{
	background-color:white;
	color: blue;
	font-family: arial;
	font-size: 18pt;
}

table, th, td
{
	border: 1px solid black;
}

th
{
	color: black;
	background-color: #98FB98;
}

td
{
	color:black;
	background-color: #CCCCFF;
}
